
<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{{Name}}}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            .line {
                width:auto;
                height:2px;
                margin-right: 12px;
                background-color:#e8edf3;
                overflow:hidden;
            }

        </style>
    </head>
    <body style="background-color: #F9F9F9; margin-top: 50px;">

        <div class="panel panel-default">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-pills" role="tablist">
                    {{#Navigators}}
                    <li role="presentation" class="active">
                        <a href="{{{Position}}}">
                            {{{Name}}}
                        </a>
                    </li>
                    {{/Navigators}}
                </ul>
                <p class="lead text-info">Type:
                    <code>
                        <a href="https://developers.google.com/protocol-buffers/docs/proto3#enum">
                            Enum
                        </a>
                    </code>
                </p>
                <p class="lead text-info" id="#{{{Name}}}">Name:
                    <span class="label label-danger">{{{Name}}}</span>
                </p>

                <div class="line"></div>
                <p class="lead bg-primary text-danger"> Note: </p>
                <blockquote>
                     {{{Comment}}}
                </blockquote>

                <p class="lead bg-primary text-danger"> Fields: </p>
                <table class="table table-striped table-bordered table-hover">
                    <thead style="background-color: #37c3aa">
                    <tr>
                        <th>Value</th>
                        <th>Order</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                      <tbody>
                        {{#Elems}}
                        <tr>
                            <td>{{{Value}}}</td>
                            <td>{{{Order}}}</td>
                            <td>{{{Note}}}</td>
                        </tr>
                        {{/Elems}}
                      </tbody>
                    </table>
            </div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>
