
<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{{Name}}}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            .line {
                width:auto;
                height:2px;
                margin-right: 12px;
                background-color:#e8edf3;
                overflow:hidden;
            }

        </style>
    </head>
    <body style="background-color: #F9F9F9; padding-top: 50px;">
        <div class="panel panel-default">
            <div class="col-md-10 col-md-offset-1">
                <p class="lead text-danger">Message Name:
                  <span class="label label-info">
                    {{{Name}}}
                  </span>
                </p>

                <div class="line"></div>
                <p class="lead bg-primary"> Comments: </p>
                <blockquote>
                     {{{Comment}}}
                </blockquote>
                <table class="table table-striped table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Order</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#Fields}}
                    <tr class="success">
                      <td>{{{Type}}}</td>
                      <td>{{{Name}}}</td>
                      <td>{{{Order}}}</td>
                      <td>{{{Comment}}}</td>
                    </tr>
                    {{/Fields}}
                  </tbody>
                </table>
            </div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>
